<section id="{{ id }}" class="section site-hero" {% if hero_image %}style="background-image: url({{ hero_image.url }});"{% endif %}>
    <section class="container content-wrap">
        {{ content }}
    </section>
</section>