.inquiry {
  overflow: hidden;
  .inquiry-container {
    background-color: $color_bluegray;
    margin-top: 9rem;
    padding-top: 3.6rem;
    padding-bottom: 4.6rem;
    position: relative;
  }
  #form-result {
    padding-left: 9rem;
  }
  .notices {
    margin-left: 3.2rem;
    max-width: 60rem;
    @include breakpoint(phone) {
      margin-left: 9rem;
    }
  }
  &.aos-animate {
    .inquiry-container {
      &:before,
      &:after {
        content: "";
        display: block;
        background: url(../images/wave.svg) repeat-x;
        position: absolute;
        top: -8rem;
        width: 3400px;
        height: 198px;
        margin-left: -700px;
        animation: wave 3s cubic-bezier(0.36, 0.45, 0.63, 0.53);
        transform: translate3d(0, 0, 0);
      }
      &:after {
        top: -7rem;
        animation: wave 4s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s,
          swell 4s ease -1s;
        opacity: 0;
      }
      @keyframes wave {
        0% {
          margin-left: 0;
        }
        90% {
          margin-left: -650px;
        }
        100% {
          margin-left: -700px;
        }
      }

      @keyframes swell {
        0%,
        100% {
          transform: translate3d(0, -25px, 0);
          opacity: 0;
        }
        15%,
        85% {
          opacity: 0.5;
        }
        50% {
          transform: translate3d(0, 5px, 0);
          opacity: 0.7;
        }
      }
    }
  }
  .container {
    h2 {
      position: relative;
      display: block;
      padding-left: 3.2rem;
      @include breakpoint(phone) {
        padding-left: 6.2rem;
      }
      &:before {
        content: "";
        left: 1.8rem;
        bottom: -5.5rem;
        display: block;
        position: absolute;
        width: 1px;
        height: 12.4rem;
        background-image: linear-gradient(
          to bottom,
          $color_blue 50%,
          transparent 0%
        );
        background-position: left;
        background-size: 1px 14px;
        background-repeat: repeat-y;
        @include breakpoint(phone) {
          left: 4.8rem;
        }
      }
      &:after {
        content: "";
        left: -1.4rem;
        bottom: -1.1rem;
        display: block;
        position: absolute;
        height: 1px;
        width: 17rem;
        background-image: linear-gradient(
          to right,
          $color_blue 50%,
          transparent 0%
        );
        background-position: top;
        background-size: 14px 1px;
        background-repeat: repeat-x;
        @include breakpoint(phone) {
          left: 1.6rem;
        }
      }
    }
    form {
      padding-left: 3.2rem;
      padding-top: 2.8rem;
      padding-bottom: 1.8rem;
      @include breakpoint(phone) {
        padding-left: 9rem;
      }
      .form-field {
        .form-label {
          label {
            font-weight: 600;
            margin-bottom: 0.8rem;
            display: block;
          }
        }
        .form-data {
          input,
          textarea {
            border-radius: 1px;
            width: 100%;
            max-width: 746px;
            border: 1px solid $color_light_gray;
            padding: 1.2rem 2.4rem;
            max-width: 60rem;
          }
          textarea {
            min-height: 18rem;
          }
          margin-bottom: 2.6rem;
        }
      }
      .buttons {
        button {
          display: block;
          padding: 1.2rem 3.2rem;
          background: $color_blue;
          color: white;
          font-weight: 600;
          transition: 0.25s ease-in-out;
          &:hover {
            background: $color_red;
            cursor: pointer;
          }
        }
      }
    }
  }
}
